
 
 
 /* This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#banner {
  background: #9c9;
  padding: 10px;
  border-bottom: 2px solid green;
  font: small-caps 50px/50px "Times New Roman", serif;
  color: #704B0B;
  text-align: center;
  img {
    float: left;
  }

}

#notice {
  color: #000 !important;
  border: 2px solid;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}

/*#columns {
  background: #9ED490;*/

  #main {
    margin-left: 17em;
    padding: 1em;
    background: white;
        }

  #side {
    float: left;
    padding: 1em 2em;
    border-right: 2px solid green;
    width: 13em;
    background: #141;
    height: 500px;
    p  {color: #bfb;}
     ul {
      padding: 0;

      li {
        list-style: none;
        p  {color: #bfb;}

        a {
          color: #bfb;
          font-size: small;
        }
      }
    }
  }
    
/*}*/